body {
  background: #ffffff;
  margin: 0;
}

.app-container {
  display: flex;
}

ul {
  padding-left: 3vw;
}

.sidebar {
  width: 20vw;
  min-width: 110px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 60px;
  background-color: #aaaaaa;
  color: white;
  padding: "2vw";
  z-index: 1; /* Set a higher z-index for the sidebar */
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); /* Add a drop shadow to the right */
  border: 2px solid #353535;

  background-color: #e5e5f7;
  opacity: 1 ;
  background-image:  repeating-linear-gradient(45deg, #d5d2d5 25%, transparent 25%, transparent 75%, #d5d2d5 75%, #d5d2d5), repeating-linear-gradient(45deg, #d5d2d5 25%, #e5e5f7 25%, #e5e5f7 75%, #d5d2d5 75%, #d5d2d5);
  background-position: 0 0, 14px 14px;
  background-size: 28px 28px;
}

.topbar{
  position: fixed;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: #ffb9fc;
  color: #fff;
  z-index: 2; /* Set a higher z-index for the sidebar */
  border: 2px solid #ce2af7;
}

.marquee {
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(45%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gif-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.gif-row img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  margin: 0 10px; /* Adjust the margin as needed */
}


.main-content {
  flex: 1;
  padding-left: 70px;
  margin-left: 20vw; /* Set the margin equal to the width of the sidebar */
}


.image-gallery {
  text-align: center;
  padding: 20px;
}

.image-container {
  display: flex;
  flex-direction: column; /* Change to column to stack images vertically */
  align-items: center; /* Center the images horizontally */
}

.gallery-image {
  margin: 10px;
  max-width: 70%;
  height: auto;
}

.image-kind {
  margin: 10px;
  width: 90%;
  height: auto;
}

.main-images {
  text-align: left; /* Align content to the right */
}

.pink {
  background-color: #FFC0CB;
  z-index: 1; 
}

p {
  font-family: 'Courier New',
}

.white-block  {
  height: 80vh;
}
