body {
  background: #ffffff
}

.app-container {
  display: flex;
}

ul {
  padding-left: 2vw;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #aaaaaa;
  color: white;
  padding: "2vw";
  z-index: 1; /* Set a higher z-index for the sidebar */
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); /* Add a drop shadow to the right */
  border: 2px solid #353535;

}

.main-content {
  flex: 1;
  padding-left: 70px;
  margin-left: 20vw; /* Set the margin equal to the width of the sidebar */
}


.image-gallery {
  text-align: center;
  padding: 20px;
}

.image-container {
  display: flex;
  flex-direction: column; /* Change to column to stack images vertically */
  align-items: center; /* Center the images horizontally */
}

.gallery-image {
  margin: 10px;
  max-width: 70%;
  height: auto;
}

.image-kind {
  margin: 10px;
  width: 90%;
  height: auto;
}

.main-images {
  text-align: left; /* Align content to the right */
}

.pink {
  background-color: #FFC0CB;
  z-index: 1; 
}

p {
  font-family: 'Courier New',
}

.white-block  {
  height: 80vh;
}